@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
a{
  text-decoration: none;
}  


/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
.index-logo{
  background-color: var(--negro2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.index-logo img{
  width: 40%;
  max-width: 200px;   
}
.index-logo i{
  color: var(--blanco);
  font-size: 2rem;
}
.index-menu {
  background-color: rgba(1, 10, 52, 0.838);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: var(--blanco); 
}
.index-menu-hr{
  width: 90%;
  background-color: var(--blanco);
}
.index-item{
padding: 1rem;
}
.index a{
  color: var(--blanco);
  text-decoration: none;
  text-align: center;
}
.index a:hover{
  background-color: #0B3860;
  width: 100%;
}
.index-navbar-button{
  background-color:transparent;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5rem;
  font-family: 'Marcellus', serif;
  color: var(--blanco);
}
@media screen and (max-width: 1000px){
/*Resolución tablet*/
@media screen and (min-width: 300px){
  .index input:checked ~ * .index-menu {
display: none;
  }
  

  

    /*Mensaje 1*/
    .index-msg{    
      background: url(../img/slide1.jpg);
      height: 15rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 0.7rem;

    }
    .index-msg h1{
      color: white;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6881127450980392) 0%, rgba(178,179,179,0.15309873949579833) 91%);
    }
      /*Mensaje*/
      .index-desc{
    color: var(--blanco);
    height: 16rem;
    display: flex;
    justify-content: space-around;
    color: var(--negro2);
  }
  .index-desc1{
    display: none;
  }

  .index-desc p{
    margin: 5%;

    }

    .index-logod{
display: none;
  }


 /*Razones*/
 #features{
  background: url(../img/bg-features.png);
  color: var(--fondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 27rem;
  }

  .features-title{
  background-color: rgba(0,0,0,0.35);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.features-description{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature{
  width: 27%;
  margin: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.feature i{
  font-size: 2.2em;
  margin-bottom: 1.5rem;
}


.feature-blue{
  background-color: #00325eae;
}

.feature-black{
  background-color: rgba(0,0,0,0.59);
}
/*Ubicación*/
.index-ubi{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem;
}
.index-mapa{
  height: 30rem;
}
.index-mapa iframe{
  width: 100%;
  height: 100%;
  }

  .index-ubi2{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.index-ubi2 h2{
  margin: 1rem;
  border-bottom:2px solid var(--azuloscuro);
  margin-bottom: -2rem;
}
.index-hr{
  color: var(--negro2);
}


/*Nuestros usuarios*/
.index-nues{
  display: flex;
  background-color: var(--negro2);
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.index-nues h1{
  color: var(--blanco);
  margin: 1rem;
  margin-bottom: 4rem;
}

.index-opinion{
  display: flex;
  flex-direction: column;


}
.index-opisep {
display: flex;
justify-content: center;
align-items: center;
color: var(--negro);
font-size: 4rem;
margin-top: -3rem;
margin-bottom: 3rem;
}

.index-nue1{
margin: auto;
}
.index-nue2{
  margin: auto;
}
.index-nue1 img{
  height: 10rem;
  }
  .index-nue2 img{
  height: 10rem;
  }
/*Footer*/
.index-fot2{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color:var(--negro2);
  color: var(--blanco);
  justify-content: space-around;

}
.index-fi1{

  border-bottom:2px solid var(--negro);
}
.index-fi1 i{
  margin: 1rem;
}
.index-fi2{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;

  border-bottom:2px solid var(--negro);
}
.index-fi3{
  display: flex;
  justify-content: space-between;
  width: 5rem;
  margin-top: 1rem;
}
.index-fot1{
  display: none;
}
}
}


/*Resolución notebooks*/
@media screen and (min-width: 1024px){
  .index input{
    display:none;
  }
  /*Nav*/
   .index nav{
      display: flex;
      flex-direction: row; 
      width: 100%;
      justify-content: space-between;
      background-color: var(--negro2);
  }
  .index-logo{
      padding: 1rem;
  }
  .index-logo img{
      width: 100%;
      max-width: 180px;       
  }
  .index-logo i{ 
      display: none;
  } 
  .index-menu{
      background-color: var(--negro2);
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .index-menu-hr{ 
      display: none;
  }
  .index-navbar-button{
      background-color:var(--azuloscuro);
  }     

    /*Mensaje con foto*/
    .index-msg{    
    background: url(../img/slide1.jpg);
    background-size: 100%;
    height: 44rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.5rem;
  }
  .index-msg h1{
    color: white;
    margin-bottom: 3rem;

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6881127450980392) 0%, rgba(178,179,179,0.15309873949579833) 91%);
  }

  /*Mensaje*/
  .index-desc2{
    display: none;
  }
  .index-desc{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--blanco);
    height: 30rem;
    display: flex;
    justify-content: space-around;
    color: var(--negro2);
  }

  .index-desc h3{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 60rem;
    }
  

    .index-logod{
    margin: 5%;
  }
 /*Razones*/
  #features{
    background: url(../img/bg-features.png);
    color: var(--fondo);
    padding-top: 1rem;
    height: 15rem;
    }
 
.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 
.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}


.feature-blue{
    background-color: #00325eae;
}
 
.feature-black{
    background-color: rgba(0,0,0,0.59);
}
/*Ubicación*/
.index-ubi{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
}
.index-mapa{
  height: 30rem;
}
.index-mapa iframe{
  width: 100%;
  height: 100%;
  }
  .index-ubi2{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.index-ubi2 h2{
  border-bottom:2px solid var(--azuloscuro);
}
.index hr{
  color: var(--negro2);
}
/*Nuestros usuarios*/
.index-nues{
  height: 10rem;
  display: flex;
  background-color: var(--negro2);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.index-nues h1{
  color: var(--blanco);
}

.index-opinion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.index-opisep {
display: flex;
justify-content: center;
color: var(--negro);
font-size: 4rem;
margin-top: -3rem;
margin-bottom: 3rem;
}

.index-nue1{
  height: 16rem;
  width: 25rem;
  margin: 3rem;
  margin-top: -3rem;
}
.index-nue2{
  height: 16rem;
  width: 25rem;
  margin: 3rem;
  margin-top: -3rem;
}
/*---------------Footer------------*/

.index-fot1{
  display: flex;
  background-color:var(--negro2);
  color: var(--blanco);
  font-size: 1.2rem;
  justify-content: space-around;

}
.index-fi1{
  margin: 4rem;
  width: 20rem;
  height: 20 rem;
}
.index-fi1 i{
  margin: 1rem;
}
.index-fi2{
  margin: 4rem;
  width: 20rem;
  height: 20 rem;
}
.index-fi2 p{
  margin-bottom: 5rem;
}
.index-fot2{
  display: none;
}
.index a{
  text-decoration: none;
}  
}
/*Resolución notebooks*/
@media screen and (min-width: 1308px){
    
}

/*----------------------------------------------------------------Dashboard----------------------------------------------------------------*/







@media screen and (max-width: 1000px){
  /*Resolución tablet*/
  @media screen and (min-width: 300px){
  
    .dashbody{
      display: flex;
    }
  
    .dash-navvertv2{
        width: 10rem;
        font-size: 2rem;
    }
    .dash-navvert{
      display: none;
  }
    .dash-navvert1{
        display: flex;
        flex-direction: column;
        background: url(../img/Group\ 200.svg);
        font-size: 0.9rem;
    }
    .dash-navvert1 img{
        margin: 2rem;
        width: 5rem;
        height: 5rem;
        align-self: center;
    }
    .dash-navvert1 h2{
        color: var(--blanco);
        align-self: center;
    }
    .dash-navvert1 p{
        color: var(--blanco);
        align-self: center;
        margin-bottom: 3rem;
    }
    .dash-navvert2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 111.5rem;
        background-color:var(--negro);
        color:var(--blanco);

    }
    .dash-navvert2 h2{
      margin: 0;
    margin-top: 5rem;
    }
    
    .dash-navd1{
        margin-left: -5rem;
    }
    
    .dash-navvert3 h2{
      margin-left: 3rem;
      margin-top: -20rem;
    }
    
    .dash-navd2{
    margin-top: -4rem; 
    color: var(--blanco);
    font-size: 2rem;
    }
    
    .dash-dashmain{
        background: url(../img/FondoDashboard.jpg);
    }
    
    .dash-dashcont{
      display: none;
    }

    .dash-dashcontv2{
      display: flex;
      align-items: center;
      flex-direction: column;
        background-color: #cfcfcfe3;
        margin: 3rem;
        margin-right: 2rem;
        width: 50rem;
        height: auto;
        border-radius: 10px;
    }
    .dash-tittle h2{
       font-size: 2.4rem;
       margin-left: auto;

    }
    .dash-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
    }
    
    .dash-cont1{
        margin-top: 2rem;
        width: auto;
    }

    .dash-cont2{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: auto;

    }
    .dash-cont3{
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 36rem;
    }
    .dash-cont1 img{
        margin-left: 7rem;
        
        width: 16rem;
    }
    .dash-cont1 div{
        display: flex;
        justify-content:space-around;
        background-color: var(--azuloscuro);
        align-self: center;
        color: var(--blanco);
        width: 16rem;
        margin-left: 7rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .dash-cont1 a{
        text-align: center;
        display: flex;
        justify-content:center;
        background-color: var(--negro);
        font-size: 1.2rem;
        width: 16rem;
        margin-left: 7rem;
        margin-top: 3rem;
        border: 0px;
        border-radius: 5px;
        color: var(--blanco);
    }
    .dash-cont input{
        border-radius: 3px;
        border: 0px;
        height: 2.2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .dash-cont select{
        border-radius: 3px;
        border: 0px;
        height: 2.2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .dash-gener{
        margin-bottom: 1rem;
    }
    .dash-gen{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .dash-gen input{
        color: var(--azuloscuro);
    }
    .dash-cont a{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: var(--negro);
        font-size: 1.2rem;
        width: 18rem;
        height: 3rem;
        border: 0px;
        border-radius: 5px;
        color: var(--blanco);
    }

    .dash a{
        text-decoration: none;
    }
  
  }
}














@media screen and (min-width: 1000px){

  .dashbody{
    display: flex;
  }

  .dash-navvert{
      width: 20rem;
  }
      .dash-navvertv2{
      display: none;
  }
  .dash-navvert1{
      display: flex;
      flex-direction: column;
      height: 17rem;
      background: url(../img/Group\ 200.svg);
      font-size: 0.9rem;
  }
  .dash-navvert1 img{
      margin: 2rem;
      width: 15rem;
      height: 15rem;
      align-self: center;
  }
  .dash-navvert1 h2{
      color: var(--blanco);
      align-self: center;
  }
  .dash-navvert1 p{
      color: var(--blanco);
      align-self: center;
      margin-bottom: 3rem;
  }
  .dash-navvert2{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 42rem;
      background-color:var(--negro);
      font-size: 1.3rem;
      color:var(--blanco);
  }
  .dash-navvert2 h2{
  margin-top: 2rem;
  }
  
  .dash-navd1{
      margin-left: -5rem;
  }
  
  .dash-navvert3{
      display: flex;
      justify-content: center;
  }
  
  .dash-navd2{
  margin-top: -4rem; 
  color: var(--blanco);
  font-size: 2rem;
  }
  
  .dash-dashmain{
      background: url(../img/FondoDashboard.jpg);
      background-repeat: no-repeat;
  }
  

  .dash-dashcontv2{
    display: none;
  }

  .dash-dashcont{
      background-color: #cfcfcfe3;
      margin: 3rem;
      width: 90rem;
      height: 53rem;
      border-radius: 10px;
  }
  .dash-tittle h2{
     font-size: 2.4rem;
     margin-left: 32rem;
  }
  .dash-cont{
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
  }
  
  .dash-cont1{
      margin-top: 1rem;
      width: 23rem;
      height: 43rem;
  }
  .dash-cont2{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 28rem;
      height: 45rem;
  }
  .dash-cont3{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 28rem;
      height: 43rem;
  }
  .dash-cont1 img{
      margin-left: 7rem;
      
      width: 16rem;
  }
  .dash-cont1 div{
      display: flex;
      justify-content:space-around;
      background-color: var(--azuloscuro);
      align-self: center;
      color: var(--blanco);
      width: 16rem;
      margin-left: 7rem;
      font-size: 1.5rem;
      margin-top: 1rem;
  }
  
  .dash-cont1 a{
      text-align: center;
      display: flex;
      justify-content:center;
      background-color: var(--negro);
      font-size: 1.2rem;
      width: 16rem;
      margin-left: 7rem;
      margin-top: 3rem;
      border: 0px;
      border-radius: 5px;
      color: var(--blanco);
  }
  .dash-cont input{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  .dash-cont select{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  .dash-gener{
      margin-bottom: 1rem;
  }
  .dash-gen{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  .dash-gen input{
      color: var(--azuloscuro);
  }
  .dash-cont2 a{
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: var(--negro);
      font-size: 1.2rem;
      width: 18rem;
      height: 3rem;
      border: 0px;
      border-radius: 5px;
      color: var(--blanco);
  }
  .dash-confirm{
      margin-top: 9rem;
  }
  .dash a{
      text-decoration: none;
  }
  }







 /*----------------------------------------------------------------Login----------------------------------------------------------------*/




 @media screen and (max-width: 1000px){

  .loginbody{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url(../img/FondoForm.jpg );
}
.login-main{ 
    margin: 9rem;
    background-color:rgba(51, 121, 183, 0.918);
    height: 40rem;
    width: 40rem;
    border-radius: 10px;
    box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
    -webkit-box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
}
.login-main img{
    width: 40rem;
}

.login-icon{
    display: flex;
    justify-content: center;
    color: var(--Magenta);
    font-size: 6rem;
    margin-top: -4.5rem;
}
.login-icon i{
    background: radial-gradient(white 60%, transparent 50%);
}
.login-form{
display: flex;
justify-content: center;
}
.login-form1{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 18rem;
    color: var(--blanco);
}
.login-form input{
    border-radius: 3px;
    border: 0px;
    height: 2.2rem;
    font-size: 1.2rem;
}
.login-form1 a{
    text-align: center;
    margin: 2rem auto;
    background-color: var(--negro2);
    font-size: 1.2rem;
    width: 27rem;
    border: 0px;
    border-radius: 3px;
    color: var(--blanco);
}
.login-msg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--blanco);
}

.login-msg{
  display: none;
}
 }





/*Resolución notebooks*/
@media screen and (min-width: 1000px){
  .loginbody{
      display: flex;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      background: url(../img/FondoForm.jpg );
  }
  .login-main{ 
      margin: 9rem;
      background-color:rgba(51, 121, 183, 0.918);
      height: 40rem;
      width: 40rem;
      border-radius: 10px;
      box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
      -webkit-box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
      -moz-box-shadow: 10px 12px 4px -9px rgba(0,0,0,0.62);
  }
  .login-main img{
      width: 40rem;
  }
  
  .login-icon{
      display: flex;
      justify-content: center;
      color: var(--Magenta);
      font-size: 6rem;
      margin-top: -4.5rem;
  }
  .login-icon i{
      background: radial-gradient(white 60%, transparent 50%);
  }
  .login-form{
  display: flex;
  justify-content: center;
  }
  .login-form1{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 27rem;
      height: 18rem;
      color: var(--blanco);
  }
  .login-form input{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
  }
  .login-form1 a{
      text-align: center;
      margin: 2rem auto;
      background-color: var(--negro2);
      font-size: 1.2rem;
      width: 27rem;
      border: 0px;
      border-radius: 3px;
      color: var(--blanco);
  }
  .login-msg{
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--blanco);
  }
  
  .login-msg1{
      color: var(--negro2);
  }
  .login-msg a{
      margin-left: 0.2rem;
      text-decoration: none;
  }
  }











  /* ----------------------------------------------------------------Formulario------------------------------------------------------------*/


  @media screen and (max-width: 1000px){

  .form-main{
      background: url(../img/FondoForm.jpg );
      background-position: center;
      flex-direction: column;
      height: 110rem;
  }
  .form-nav{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      align-items: center;
      width: auto;
      background-color:rgba(51, 121, 183, 0.918);
      color: var(--blanco);
  
  }
  .form-nav h1{
margin-left: auto;
margin-right: 1rem;
  }
  .form-main nav{
display: none;

}
  .form-main img{
      width: 25rem;
      margin-bottom: 2rem;
  }
  
  .form-main h1{
  font-size: 3rem;
  }
  
  .form-dashcontv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0e3;
    margin: auto;
    width: auto;
    height: 92rem;
    margin: 5rem;
}
.form-dashcont{
display: none;
}
  .form-tittle h2{
      font-size: 3rem;
      margin-top: 1rem;
      margin-left: 4rem;
   }
  
  .form-cont{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 28rem;
      height: 37rem;
  
  }
  .form-cont input{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  .form-cont select{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  
  .form-gener{
      margin-bottom: 1rem;
  }
  .form-gen{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  .form-tc{
      display: flex;
      justify-content: center;
      font-size: 0.8;
  }
  .form-tc h1{
    margin-left: 6rem;
      color: var(--negro2);
  }
  .form-but{
      display: flex;
      justify-content: center;
      margin-top: 1rem; 
      margin-right: auto;
      margin-left: 6rem;
      align-self: flex-end;  
  }
  .form-but a{
      text-align: center;
      background-color: var(--negro);
      font-size: 1.7rem;
      width: 16rem;
      height: 4rem;
      border: 0px;
      border-radius: 3px;
      color: var(--blanco);
  }

  .form-main a{
      text-decoration: none;
  }
  /* Inicio modal */
  .form-top-modal
  {
      width: 100%;
      border-radius: 9px 9px 0 0;
      text-align: center;
      padding: 2rem 0;
      margin-bottom: 20px;
      color: white;
      background-color: #184e7d;
  }
  .form-bottom-modal
  {
      margin-bottom: 15px;
      padding: 0 1rem;
  }
  #close-buttom
  {
      margin-bottom: 10px;
      text-align: center;
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 2px;
      width: 100px;
  }
  .form-modal-contenido{
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color:rgb(255, 255, 255);
   
      font-size: 20px;
    }
    .form-modal{
      background-color: rgba(0,0,0,.8);
      position:fixed;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      opacity:0;
      pointer-events:none;
      transition: all 1s;
    }
    #miModal:target{
      opacity:1;
      pointer-events:auto;
    }
  
  /* Fin modal */
  }





  
@media screen and (min-width: 1000px){
  .form-main{
      display: flex;
      background: url(../img/FondoForm.jpg );
      background-repeat: no-repeat;
      height: 58.6rem;
  }
  .form-main nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35rem;
      height: 58.6rem;
      background-color:rgba(51, 121, 183, 0.918);
      color: var(--blanco);
  
  }

  .form-nav{
    display: none;
  }
  .form-main img{
      width: 25rem;
      margin-bottom: 2rem;
  }
  
  .form-main h1{
  font-size: 3rem;
  }
  
  .form-dashcont{
      background-color: #e0e0e0e3;
      margin: 3rem;
      width: 90rem;
      height: 53rem;
      border-radius: 10px;
  }
  .form-dashcontv2{
    display: none;
}
  .form-tittle h2{
      font-size: 3rem;
      margin-left: 33rem;
      margin-top: 1rem;
   }
   .form-cont{
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
  }
  
  .form-cont1{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 28rem;
      height: 37rem;
  
  }
  .form-cont2{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 28rem;
      height: 35.7rem;
  
  }
  .form-cont input{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  .form-cont select{
      border-radius: 3px;
      border: 0px;
      height: 2.2rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  
  .form-gener{
      margin-bottom: 1rem;
  }
  .form-gen{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  .form-tc{
      display: flex;
      justify-content: center;
      font-size: 0.8;
  }
  .form-tc h1{
      color: var(--negro2);
  }
  .form-but{
      display: flex;
      justify-content: center;
      margin-top: 1rem;   
  }
  .form-but a{
      text-align: center;
      background-color: var(--negro);
      font-size: 1.7rem;
      width: 16rem;
      border: 0px;
      border-radius: 3px;
      color: var(--blanco);
  }
  .form-main a{
      text-decoration: none;
  }
  /* Inicio modal */
  .form-top-modal
  {
      width: 100%;
      border-radius: 9px 9px 0 0;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 20px;
      color: white;
      background-color: #184e7d;
  }
  .form-bottom-modal
  {
      margin-bottom: 15px;
      padding: 0 1rem;
  }
  #close-buttom
  {
      margin-bottom: 10px;
      text-align: center;
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 2px;
      width: 100px;
  }
  .form-modal-contenido{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color:rgb(255, 255, 255);
   
      width:30%;
      border-radius: 10px;
      margin: 100px auto;
      position: relative;
      font-size: 20px;
    }
    .form-modal{
      background-color: rgba(0,0,0,.8);
      position:fixed;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      opacity:0;
      pointer-events:none;
      transition: all 1s;
    }
    #miModal:target{
      opacity:1;
      pointer-events:auto;
    }
  
  /* Fin modal */
  }
  